<section id="contacts" class="mx-auto">
  <p class="fs-5 text-center text-light">Get in Touch</p>
  <h1 class="fw-bold text-center mb-5 text-white">Contact Me</h1>
  <div class="row justify-content-center">
    <div class="col-10 col-md-6 col-xl-4">
      <div class="card m-2 rounded-5 border-0 shadow-sm glassmorphism">
        <div class="row py-4 g-3">
          <!-- Gmail Link -->
          <div class="col-6 text-center">
            <a [attr.href]="'https://mail.google.com/mail/?view=cm&fs=1&to=' + email" target="_blank"
              class="d-flex align-items-center justify-content-center text-decoration-none">
              <i class="fa fa-envelope fa-2x icon me-2"></i>Email
            </a>
          </div>
          <!-- LinkedIn Link -->
          <div class="col-6 text-center">
            <a (click)="goToLinkedin()" class="d-flex align-items-center justify-content-center text-decoration-none">
              <i class="fab fa-linkedin fa-2x icon me-2"></i>LinkedIn
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>