<section id="about" class="container my-5">
  <p class="fs-5 text-light text-center">Get to know more</p>
  <h1 class="fw-bold text-white text-center">About Me</h1>

  <div class="row mt-4 d-flex justify-content-center">
    <!-- Cards and Description -->
    <div class="col-12 col-md-8">
      <div class="row g-3">
        <!-- Experience Card -->
        <div class="col-12 col-md-6">
          <div class="about-card">
            <i class="fa fa-award icon mb-2"></i>
            <h3 class="about-subtitle">Experience</h3>
            <p class="text-light">
              {{ getExperienceYears() }}+ years in Software Development<br>Specialized in Software Technologies & AWS
            </p>
          </div>
        </div>

        <!-- Specialization Card -->
        <div class="col-12 col-md-6">
          <div class="about-card">
            <i class="fa fa-laptop-code icon mb-2"></i>
            <h3 class="about-subtitle">Specialized In</h3>
            <p class="text-light">
              Angular Framework<br>Linux System<br>Computer Networking<br>AWS (EC2, S3, IAM, CloudWatch)

            </p>
          </div>
        </div>
      </div>

      <!-- Description -->
      <p class="about-description text-center">
        "I have one year of experience in software development, Linux, and networking, with a strong focus on cloud computing. Passionate about building scalable and secure cloud solutions, I continuously learn and stay updated with industry trends. I enjoy solving complex problems through innovation and efficiency, always seeking new challenges to grow and make a meaningful impact in the cloud domain."</p></div>
  </div>
</section>
