<!-- Header Section -->
<div class="container-fluid header-container">
  <div class="row">
    <nav class="navbar navbar-expand-lg col-md-8 mx-auto my-5 col-12">
      <div class="container-fluid">
        <span class="navbar-brand"> WELCOME </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <app-nav-links></app-nav-links>
        </div>
      </div>
    </nav>
</div>
