<div class="card text-center">
  <img [src]="project.src" class="card-img-top" [alt]="project.name">
  <div class="card-body">
    <h5 class="card-title mt-3">
      {{ project.name }}
    </h5>
    <p class="card-text">{{ project.description }}</p>
    <div>
      <span class="fw-bold">Technologies used:</span>
      <ul class="technologies-list">
        @for (technology of project.technologies; track technology) {
          <li>{{ technology }}</li>
        }
      </ul>
    </div>
     
    <div class="d-flex justify-content-center gap-3 mt-3">
      <a [href]="project.link" target="_blank" class="btn btn-primary px-4 py-2 fw-bold rounded-pill shadow-sm">
        Check on Github
      </a>
      <a [href]="project.liveLink" target="_blank" class="btn btn-success px-4 py-2 fw-bold rounded-pill shadow-sm">
        Live Version
      </a>
      
    </div>
     <!-- Buttons Section -->
     <div class="carousel-buttons d-flex justify-content-center mt-3">
      <button class="carousel-button btn btn-dark px-4 py-2 fw-bold rounded-pill shadow-sm me-3" 
              data-bs-target="#projectsCarousel" data-bs-slide="prev">
        &lt; Previous
      </button>
      <button class="carousel-button btn btn-primary px-4 py-2 fw-bold rounded-pill shadow-sm" 
              data-bs-target="#projectsCarousel" data-bs-slide="next">
        Next &gt;
      </button>
    </div>  
  </div>
</div>
