<section id="projects" class="container my-5">
  <p class="fs-5 text-light text-center">Browse my recent</p>
  <h1 class="fw-bold text-white text-center">Projects</h1>

  <!-- Bootstrap Carousel -->
  <div id="projectsCarousel" class="carousel carousel-dark slide my-5" data-bs-ride="carousel" data-bs-interval="3000">
    
    <!-- Carousel Indicators -->
    <div class="carousel-indicators my-3">
      <button *ngFor="let _ of projects; let i = index"
              type="button"
              [attr.data-bs-target]="'#projectsCarousel'"
              [attr.data-bs-slide-to]="i"
              [ngClass]="{'active': i === 0}"
              [attr.aria-current]="i === 0 ? 'true' : null"
              [attr.aria-label]="'Slide ' + (i + 1)">
      </button>
    </div>

    <!-- Carousel Items -->
    <div class="carousel-inner">
      <div *ngFor="let project of projects; let i = index" [ngClass]="{'carousel-item': true, 'active': i === 0}">
        <app-project-item [project]="project"></app-project-item>
      </div>
    </div>
  </div>

  <!-- Buttons Section -->
  <div class="carousel-buttons">
    <button class="carousel-button" data-bs-target="#projectsCarousel" data-bs-slide="prev">&lt; Previous</button>
    <button class="carousel-button" data-bs-target="#projectsCarousel" data-bs-slide="next">Next &gt;</button>
  </div>
</section>
